<div *ngIf="displayNav == true" class="nav__display">
        <div class="nav__mobile-container">
            <div class="nav__logo-cross">
                <img src="assets/images/logo.png" alt="logo" class="nav__logo logo">
                <img src="assets/images/close_cross_icon.png" alt="close" (click)="hideNavDetails()" class="nav__cross">
            </div>
            

            <div class="nav__mobile-content">
                <div class="nav__mobile-link nav__top">
                    <a href="" class="nav__link-display">Home</a>
                </div>
                <div class="nav__mobile-link">
                    <a href="" class="nav__link-display">Characters</a>
                </div>
                <div class="nav__mobile-link">
                    <a href="" class="nav__link-display">Team</a>
                </div>
                <div class="nav__mobile-link">
                    <a href="" class="nav__link-display">Artifact</a>
                </div>
            </div>
        </div>
</div>

<div class="nav">
    <div class="nav__flex">
        <img src="assets/images/logo.png" alt="logo" class="nav__logo">
        <div class="nav__list">
            <a href="" class="nav__link">Home</a>
            <a href="" class="nav__link">Characters</a>
            <a href="" class="nav__link">Team</a>
            <a href="" class="nav__link">Artifact</a>
        </div>
    </div>

    <div class="mobile" (click)="showNavDetails()">
        <span class="mobile__nav"></span>
        <span class="mobile__nav"></span>
        <span class="mobile__nav"></span>
    </div>
</div>

