<app-nav></app-nav>

<img src="https://api.ambr.top/assets/UI/UI_Gacha_AvatarImg_{{validName}}.png" alt="splash" style="position: absolute; z-index: -9999;">
<h1 style="margin-top: 10rem;">{{currentData.name}}</h1>
<img src="https://api.ambr.top/assets/UI/UI_EquipIcon_{{currentData.weapons[0]}}.png?vh=2023092501" alt="weapon">
<img src="https://api.ambr.top/assets/UI/UI_EquipIcon_{{currentData.weapons[1]}}.png?vh=2023092501" alt="weapon">
<img src="https://api.ambr.top/assets/UI/UI_EquipIcon_{{currentData.weapons[2]}}.png?vh=2023092501" alt="weapon">
<img src="https://api.ambr.top/assets/UI/UI_EquipIcon_{{currentData.weapons[3]}}.png?vh=2023092501" alt="weapon">
<img src="https://api.ambr.top/assets/UI/reliquary/UI_RelicIcon_{{currentData.artifact}}_4.png?vh=2023092501" alt="artifact">
