
<app-nav></app-nav>
<section class="element__btn">
    <img id="Hydro_btn" src="https://genshin.jmp.blue/elements/hydro/icon" alt="Hydro" (click)="displayElement('Hydro')" class="element__img">
    <img id="Pyro_btn" src="https://genshin.jmp.blue/elements/pyro/icon" alt="Pyro" (click)="displayElement('Pyro')" class="element__img">
    <img id="Electro_btn" src="https://genshin.jmp.blue/elements/electro/icon" alt="Electro" (click)="displayElement('Electro')" class="element__img">
    <img id="Anemo_btn" src="https://genshin.jmp.blue/elements/anemo/icon" alt="Anemo" (click)="displayElement('Anemo')" class="element__img">
    <img id="Cryo_btn" src="https://genshin.jmp.blue/elements/cryo/icon" alt="Cryo" (click)="displayElement('Cryo')" class="element__img">
    <img id="Geo_btn" src="https://genshin.jmp.blue/elements/geo/icon" alt="Geo" (click)="displayElement('Geo')" class="element__img">
    <img id="Dendro_btn" src="https://genshin.jmp.blue/elements/dendro/icon" alt="Dendro" (click)="displayElement('Dendro')" class="element__img">
</section>

<section class="card_section">
    <ng-container *ngFor="let character of allCharacters; let index = index" >
        <div *ngIf="displayAll === true || visions[character.vision] === true" class="card {{character.vision}}">
            <img src="https://genshin.jmp.blue/characters/{{character.name}}/icon-big" class="card__img">
            <div id="test">
                <h1>{{character.name}}</h1>
                <h2>Vision: {{character.vision}}</h2>
            </div>
        </div>
    </ng-container>
</section>



