@font-face {
    font-family: Genshin;
    src: url('../../assets/zh-cn.ttf');
}
*{
    font-family: Genshin;
    
}

.character{
    &__container{
        background: rgb(1,1,1,0.80);
        padding: 2rem 0;
        margin: auto;
        width: 70%;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }
    &__splash{
        position: fixed;
        right: -50rem;
        bottom: -90px;
        z-index: -999;
    }
    &__name{
        text-align: center;
        margin: 0;
        color: white;
        padding-top: 2rem;
        font-size: 3.5rem;
    }
    &__weapons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__title{
        color: white;
        padding-left: 2rem;
        margin: 7rem 0 2rem 0;
        font-size: 2rem;
    }
    &__weapon{
        height: 11rem;
        border: solid 2px #c6bbbb;
        border-radius: 0.5rem;
    }
    &__artifacts{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        justify-items: center;
    }
    &__artifact{
        height: 13rem;
        background: linear-gradient(45deg, rgb(207, 100, 2) 41%, rgb(152, 91, 28) 91%);
        border: solid 2px #c6bbbb;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    &__substat{
        color: white;
        font-size: 1.5rem;
        padding-left: 2rem;
    }
    &__mainstats{
        padding: 0;
    }
    &__mainstat{
        color: white;
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }
    &__text{
        color: white;
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
    }
    &__ascensions{
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
    }
    &__boss{
        height: 10rem;
        border: solid 1px white;
    }
    &__material{
        height: 8rem;
        width: 8rem;
        border: solid white 1px;
    }
    &__talents{
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    &__numbers{
        color: black;
        background-color: white;
        text-align: center;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        font-weight: bold;
        width: 8rem;
        border: solid white 1px;
    }
    &__container_boss{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    &__container_material_boss{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 15rem;
        justify-self: center;
        column-gap: 2rem;
        margin-right: 3rem;
    }
    &__container_material_talents{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 15rem;
    }
    &__container_numbers{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    &__stat{
        color: white;
        padding-left: 1.5rem;
        margin-top: 0;
        font-size: 2rem;
    }
    &__section{
        padding-top: 10rem;
    }
}

.four{
    background: radial-gradient(circle, rgb(94, 33, 105) 0%, rgb(158, 39, 199) 100%);
}

.five{
    background: linear-gradient(45deg, rgb(207, 100, 2) 41%, rgb(152, 91, 28) 91%);
}

.common{
    background: linear-gradient(18deg, rgba(148,153,150,1) 0%, rgba(182,187,183,1) 44%, rgba(136,140,137,0.8) 100%);
}

.uncommon{
    background: linear-gradient(18deg, rgba(9,99,54,1) 0%, rgba(41,163,82,1) 44%, rgba(6,124,45,0.8) 100%);
}

.rare{
    background: linear-gradient(18deg, rgba(29,107,221,0.8) 0%, rgba(72,123,195,1) 44%, rgba(36,101,230,0.8) 100%);
}

.end{
    align-self: flex-end;
}

.start{
    align-self: flex-start;
}

@media screen and (max-width: 1600px) {
    .character{
        &__container{

            width: 80%;
        }
    }
}


@media screen and (max-width: 1300px) {
    .character{
        &__container{
            width: 90%;
        }
        &__material{
            height: 7rem;
            width: 7rem;
        }
        &__numbers{
            width: 7rem;
        }
    }
}

@media screen and (max-width: 1300px) {
    .character{
        &__ascensions{
            grid-template-columns: none;
            row-gap: 2rem;
        }
        &__container_material_boss{
            margin: 0;
        }
    }
}

@media screen and (max-width: 850px) {
    .character{
        &__talents{
            grid-template-columns: 1fr;
            justify-items: center;
            align-content: center;
            row-gap: 2rem;
        }
        &__container{
            padding-top: 2rem;
            width: 95%;
        }
        &__weapon{
            height: 7rem;
        }
        &__section{
            padding-top: 6rem;
        }
        &__container_material{
            column-gap: 2rem;
        }
        &__container_material_talents{
            column-gap: 2rem;
        }
    }
    .end{
        align-self: flex-start;
    }
    .start{
        align-self: center;
    }
    .start_mobile{
        align-self: flex-start !important;
    }
    .center{
        align-self: center !important;
    }
}

@media screen and (max-width: 650px) {
    .character{
    &__container{
        width: 100%;
    }
    }
}

@media screen and (max-width: 500px) {
    .character{
        &__weapon{
            height: 5rem;
        }
        &__artifact{
            height: 7rem;
        }
        &__text{
            font-size: 1.1rem;
        }
        &__substat{
            padding-left: 1.5rem;
            font-size: 1rem;
        }
        &__mainstat{
            font-size: 1rem;
        }
        &__mainstats{
            padding-left: 1rem;
            font-size: 1.2rem;
        }
        &__substats{
            font-size: 1.2rem;
            padding-left: 1.1rem;
        }
        &__numbers{
            width: 6rem;
        }
        &__material{
            height: 6rem;
            width: 6rem;
        }
        &__boss{
            height: 8rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        &__title{
            margin-top: 4rem;
        }
        &__talent_title{
            margin-top: 0;
        }
        &__container_boss{
            justify-content: center;
        }
        &__ascensions{
            grid-template-columns: none;
        }
        &__section{
            padding-top: 0;
        }
        &__container{
            padding-top: 5rem;
        }
    }
}