@font-face {
    font-family: Genshin;
    src: url('../../assets/zh-cn.ttf');
}
*{
    font-family: Genshin;
}


.card {
    width: 60%;
    height: 40rem;
    margin-left: 5rem;
    margin-top: 7rem;
    background-color: rgb(95, 89, 89);
}


.characters{
    display: flex;
    justify-content: center;
}

.art{
    &__container{
        height: 100%;
    }
    &__image{
        position: absolute;
        bottom: 20%;
        left: 50%;
        background: center/cover no-repeat;
        z-index: 1;

    }

    &__header{
        padding: 4rem 0rem 0rem 3rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 4fr;
        width: 50%;
    }

    &__name{
        margin: 0 0 0 3rem;
        font-size: 3rem;
        
    }
   
    &__img{
        height: 100%;
    }

    &__description-container{
        margin: 4rem 0rem 1rem 1.5rem;
        background: rgb(255 255 255 / 50%);;
        width: 50%;
        font-size: 1.2rem;
        position: relative;
        z-index: 2;
        
    }
    &__description{
        padding: 2rem 1.2rem;
        scroll-behavior: smooth;
        height: 7rem;
        overflow-y: scroll;
    }
    &__characters{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        position: relative;
        z-index: 9999;
    }
    &__characters-img{
        height: 6rem;
        background-color: #945dc4;
        border: solid 1px;
    }
}

.element{
    &__wrap{
        height: 4rem;
        width: 4rem;
        margin-top: 7rem;
        
    }

    &__swiper-slide{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        position: relative;
    }
    
    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        border: 0.05rem solid black;
        border-radius: 0.3rem;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0.4rem;
        cursor: pointer;
    }
    &__swiper-container{
        height: 33%;
        display: flex;
        flex-direction: column;
    }
}

.arrow{
    background-image: url(../../assets/images/arrow.png);
    height: 4rem;
    width: 2.7rem;
    margin-left: 1rem;
    cursor: pointer;
}

.rotateLeft{
    rotate: 90deg;
}

.rotateBot{
    rotate: 270deg;
}

.rotateRight{
    rotate: 180deg;
}


.hydro {
    background-color: #00BFFF;
    opacity: 0.7;
}

.cryo {
    background-color: #4682B4;
    opacity: 0.7;
}

.electro {
    background-color: #945dc4;
    opacity: 0.7;
}

.dendro {
    background-color: #a6c938;
    opacity: 0.7;
}

.geo {
    background-color: #debd6c;
    opacity: 0.7;
}

.anemo {
    background-color: #359697;
    opacity: 0.7;
}

.pyro {
    background-color: #EC4923;
    opacity: 0.7;
}

.video{
    position: fixed;
    z-index: -9999;
}

* {
    scrollbar-width: none;
    scrollbar-color: #231f1f ;
  }

*::-webkit-scrollbar {
    width: 4px;
  }


*::-webkit-scrollbar-thumb {
    background-color: #231f1f;
    border-radius: 10px;
    
  }