<app-nav></app-nav>

<section class="characters">
    <div class="element__wrap">
        <div class="leftArrow" (click)="previousSlide()"></div>
        <img id="element__1" class="element__container" [src]="getCurrentSlideUrl(0)" (click)="currentElementFocus(-1, 'element__1')">
        <img id="element__2" class="element__container" [src]="getCurrentSlideUrl(1)" (click)="currentElementFocus(0, 'element__2')">
        <img id="element__3" class="element__container" [src]="getCurrentSlideUrl(2)" (click)="currentElementFocus(1, 'element__3')">
        <div class="rightArrow" (click)="nextSlide()"></div>
    </div>

    <div  class="card">
        <div class="art__container">
            <div class="art__image"></div>
        </div>
    </div>
</section>